---
name: Dependabot Build Dependencies

on: # yamllint disable-line
  pull_request:
    branches:
      - disabled_for_now

permissions:
  contents: write

jobs:
  dependabot:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Update dependencies
        run: pnpm install

      - name: Rebuild CJS modules
        run: pnpm bundle

      - name: Commit & Push changes
        env:
          github_token: ${{ secrets.PAT }} # trufflehog:ignore
          persist-credentials: false
          HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add -A
          if ! git diff-index --quiet HEAD; then
            git commit -m "chore(deps): rebuild cjs"
            git push origin "$HEAD_REF"
          else
            echo "No changes to commit"
          fi
